*{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:lightgray;
    align-items: center;
    justify-content: center;
}
.sites{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1300px;
    margin: 0 2rem;
}
.site{
    border-radius: 25px;
    padding:20px;
    transform-origin: 50% 50%;
    text-decoration: none;
    transition: transform 0.25s ease-out;
    z-index: 2;
}
.site:hover, .site:focus{
    transform: scale(1.05) translateY(-10px)
}
.site h3{
    margin-top: 0.5rem;
    text-align: center;
    color:rgb(52, 49, 70);
}
.site:after, .site:before{
    content: '';
    position: absolute;
    display: flex;
    width: 240px;
    height: 270px;
    transform: translateX(-20px) translateY(-240px);
    border-radius:25px;
}
.site:after{
    background: rgba(0, 0, 0, 0.5);
    filter: blur(10px);
    z-index: -3;
    transition: transform 0.25s ease-out,
                filter 0.25s ease-out;
}
.site:hover:after, .site:focus:after{
    transform: translateX(-20px) translateY(-230px) scale(0.95);
    filter: blur(15px);
}
.site:before{
    z-index: -2;
    transform: translateX(-20px) translateY(-20px);
    background-color: whitesmoke;
    background:  linear-gradient( -60deg,whitesmoke, rgb(170, 170, 170),whitesmoke 60%);
}
.site:hover:before, .site:focus:before{
    z-index: -1;
}
figure{
    width: 200px;
    height: 200px;
    max-width: 80vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
}
.start figure{
    align-items: flex-start;
}
img{
    width: 100%;
}