@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Kalnia+Glaze:wght@100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(244, 244, 244);
    font-family: 'Poppins';
}

a {

    font-family: 'Poppins';
    text-decoration: none;
    color: #ffff;
}

header {
    background-color: rgb(92, 118, 178);
    padding-inline: 16px;
}

nav {
    height: auto;
    padding: 10px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Kanit';
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;

}

.nav-list a {
    font-size: 25px;
    font-weight: 500;
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #ffff;
    cursor: pointer;
}

.hamburger ::before,
.hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #ffff;
    margin-top: 5px;
}

/*CONTEUDO*/


.contentbase {
    max-width: 99, 9%;
    min-height: 500px;

    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}


.imgcontent {

    text-align: center;
    align-items: end;
    width: 40%;

}

.textcontent {
    flex-wrap: wrap;
    width: 50%;
    text-align: start;

}

.imgbase {
    width: 100%;
    border-radius: 50px;
}

.textcontent h1 {
    font-size: 40px;
    color: rgb(24, 0, 13);
}

.textcontent p {
    font-size: 20px;
    color: rgb(24, 0, 13);
}

.basestyle{
    padding: 20px;
    border: none;
    background-color: rgb(92, 118, 178);
    color: #ffff;
    border-radius: 50px;
    font-weight: 700;
}

.basestyle:hover{
    padding: 20px;
    border: none;
    background-color: rgb(50, 70, 116);
    color: #ffff;
    border-radius: 50px;
    font-weight: 700;
}


.containerjustext{
    width: 99,9%;
    background-color: rgb(92, 118, 178);
    justify-content: center;
    text-align: center;
    
}
.contjustext{
    width: 70%;
    margin: 0 auto;
    text-align: start;
    padding: 25px;
    color: #ffff;
}
.contjustext h1{
    font-size: 37px;
    font-family: 'Poppins';

}
.contjustext P{
    font-size: 22px;
    font-family: 'Poppins';
}

.containerprocesso{
    background-color: rgb(52, 76, 132);
    width: 99,9%;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
}

.containerprocesso h1{
    color: #ffff;
    justify-content: space-evenly;
}

.topicontainer{
    background-color: rgb(52, 76, 132);
    width: 99,9%;
    padding: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    justify-content: space-evenly;
}

.topic{
    background-color: rgb(255, 255, 255);
    width: 22%;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: auto;
    justify-content: space-evenly;
}

.centertext{
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.centertext h2{
    color: rgb(52, 76, 132);
    font-size: 25px;
  
}

.topics{
    background-color: rgb(255, 255, 255);
    width: 18%;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 500px;
    justify-content: space-evenly;
}

.imgtopic{
    width: 100%;
    height: 100%;
    border-radius: 20px;
   
}

.imgtopicontai{
    width: 80%;
    height: 180px;
    margin: 0 auto;
    margin-top: 15px;
}

.textcont{
    width: 80%;
    margin: 0 auto;
}

.textcont h2{
    font-size: 25px;
    color: rgb(68, 92, 149);;
}


.textcont button {

    border-style: solid;
    border-color: #040762;
    border-radius: 30px;
    padding: 10px;
    color: #040762;
    background-color: rgba(0, 0, 128, 0);
}


.textcont button:hover {

    border-style: solid;
    border-color: #040762;
    border-radius: 30px;
    padding: 10px;
    color: #ffffff;
    background-color: #040762;
}


.textcont button p a {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color:#040762;
}


.containerjustextwhite{
    width: 99,9%;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    text-align: center;
    
}
.contjustexwhite{
    width: 70%;
    margin: 0 auto;
    text-align: start;
    padding: 25px;
    color: rgb(21, 21, 21);
}

.aspect{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.aspectopic{
    background-color:rgb(32, 57, 116);
    align-items: center;
    text-align: center;
    width: 40%;
    padding: 30px;
    color: #ffff;
    border-radius: 20px;
}

/*FOOTER*/

footer{
    background-color: rgb(92, 118, 178);
    position: relative;
    width: 99,9%;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sociallinks{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;

}

.icon-elemt{
    list-style: none;
}

.icon{
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover{
   transform: translatey(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: baseline;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menuelemen{
    list-style: none;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.3s;
}
.menu-icon{
    
}

/*RESPONSIVO*/
@media (max-width: 750px) {

    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color:rgb(92, 118, 178);
        clip-path: circle(100px at 90% -15%);
        /*escondendo o path*/
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
        /*para nao ser capaz de clicar*/
    }

    .nav-list a {
        font-size: 20px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    /*todos os elementos do pai, no caso a nav list, permite te pegar um dos filhos, os itens, em base da sua posição*/

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }



    /*ativar estilos*/

    nav.active .nav-list {
        /*ativar quando estiver com a classe nav.active se ativar no js*/
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
        /*para ser capaz de clicar*/
    }

    nav.active .nav-list a {
        opacity: 1;
    }


    /*CONTEUDO*/


    .contentbase {
        max-width: 99, 9%;
        min-height: 500px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        flex-wrap: wrap;
    }


    .imgcontent {
        text-align: center;
        align-items: end;
        width: 80%;

    }

    .textcontent {
        flex-wrap: wrap;
        width: 80%;
        text-align: start;

    }

    .imgbase {
        width: 100%;
        border-radius: 50px;
    }

    h1 {
        font-size: 40px;
    }

    .textcontent p {
        font-size: 20px;

    }

    .topicontainer{
        background-color: rgb(52, 76, 132);
        width: 99,9%;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .topic{
        background-color: rgb(255, 255, 255);
        width: 25%;
        border-radius: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: auto;
    }
    
    .imgtopic{
        display: none;
        width: 0%;
        height: 0%;
        border-radius: 20px;
       
    }
    
    .imgtopicontai{
        display: none;
        width: 0%;
        height: 180px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .textcont{
        width: 80%;
        margin: 0 auto;
    }
    
    .textcont h2{
        font-size: 12.5px;
        flex-wrap: wrap;
        color: rgb(68, 92, 149);
    }

    .textcont p{
        font-size: 15px;
       
    }

    .textcont button {
        border-style: solid;
        border-color: #040762;
        border-radius: 30px;
        padding: 5px;
        color: #040762;
        background-color: rgba(0, 0, 128, 0);
        flex-wrap: wrap;
    }
    
    
    .textcont button:hover {
    
        border-style: solid;
        border-color: #040762;
        border-radius: 30px;
        padding: 10px;
        color: #ffffff;
        background-color: #040762;
        flex-wrap: wrap;
    }
    
    
    .textcont button{
        flex-wrap: wrap;
        font-size: 10px;
        text-decoration: none;
        color:#040762;
    }
}