<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>PodRecomenda</title>
</head>

<body>
    <div class="hero">
        <div class="navbar">
            <div class="cadu">
                <a href="index.html" class="logo">
                    <img src="../IMG/Podcast_Logo_-_Feito_com_PosterMyWall-removebg-preview.png" alt="">
                </a>
            </div>
            <a href="index2.html">Destaques</a>
            <a href="sair.php">Sair</a>
        </div>
        <div class="fraseimagem">
            <ul>
                <h1>"Cada episódio é uma nova oportunidade de aprender, crescer e se inspirar. O que você ouvir hoje
                    pode
                    transformar o seu amanhã."</h1>
                <p>-PodRecomenda-</p>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <img src="../IMG/channels4_profile (1).jpg" alt="PodProgramar">
            <h2>PodProgramar</h2>
            <p>Presented By Camila Loures e LucasGuimarães</p>
            <p>Camila Loures e Lucas Guimarães se unem para bater um papo super descontraído e animado no PODCATS!</p>
            <button><a href="https://open.spotify.com/show/3lut3t6gn8SdCDeCfeBIQA">Ver Episódios</a></button>
        </div>

        <div class="card">
            <img src="../IMG/channels4_profile.jpg" alt="Casos e Causos">
            <h2>Casos e Causos</h2>
            <p>Presented by Igor Cavalari e Thiago Marques</p>
            <p>Podpah é um podcast brasileiro apresentado por Igor Cavalari e Thiago Marques, formado em 2020. </p>
            <button><a href="https://open.spotify.com/show/1GLSDdk9CDEwziGNIlnb8a">Ver Episódios</a></button>
        </div>

        <div class="card">
            <img src="../IMG/unnamed.jpg" alt="Faz Bem">
            <h2>Faz Bem</h2>
            <p>Presented by Igor Rodrigues Coelho</p>
            <p>Flow Podcast tem as melhores conversas que você vai ouvir!</p>
            <button><a href="https://open.spotify.com/show/3V5LBozjo4vNg2oJoA4Wb2">Ver Episódios</a></button>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card">
            <img src="../IMG/ab67656300005f1fc3dd699ea8b09d4ee2950833.jpg" alt="PodProgramar">
            <h2>PodProgramar</h2>
            <p>Presented by Ricardo</p>
            <p>Podcast apresentado por Ricardo focado sobre a preparadora paulistana ACFPerformance, e muito mais.</p>
            <button><a href="https://open.spotify.com/episode/3UBTGVYW8hzpLBRAf9diXT">Ver Episódios</a></button>
        </div>
        <div class="card">
            <img src="../IMG/ab6765630000ba8a7fbf5d3b676ba83b4a1867b3.jpg" alt="Casos e Causos">
            <h2>Casos e Causos</h2>
            <p> Presented by Rogério Vilela</p>
            <p>O comediante, quadrinhista e aeromoça Rogério Vilela bate um papo com convidados mais inteligentes do que ele (como se fosse difícil!)</p>
            <button><a href="https://open.spotify.com/show/14jalMOh1Jr77eTRUdN6X9">Ver Episódios</a></button>
        </div>
        <div class="card">
            <img src="../IMG/ab6765630000ba8a16433e7961fe35645f0d97f5.jpg" alt="Faz Bem">
            <h2>Faz Bem</h2>
            <p>Presented by Monark</p>
            <p>Monark Talks é o podcast feito em parceria com a plataforma Rumble, onde Monark (Bruno Aiub) recebe convidados diversos para conversas instigantes.</p>
            <button><a href="https://open.spotify.com/show/0OGH3btwshhwdG47yejGIe">Ver Episódios</a></button>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card">
            <img src="../IMG/podcast mano a mano.jfif" alt="PodProgramar">
            <h2>PodProgramar</h2>
            <p>Presented by Mano Brown</p>
            <p>Mano a Mano é um podcast brasileiro do gênero sociedade lançado em agosto de 2021. Apresentado pelo cantor e compositor Mano Brown, é uma produção assinada pelo Spotify Studios.</p>
                <button><a href="https://open.spotify.com/show/0GnKiYeK11476CfoQEYlEd">Ver Episódios</a></button>
        </div>
        <div class="card">
            <img src="../IMG/podcast os socios.jfif" alt="Casos e Causos">
            <h2>Casos e Causos</h2>
            <p>Presented by Bruno Perini e Malu Perini </p>
            <p>Bruno Perini e Malu Perini são sócios no matrimônio, na vida e nos negócios. Toda quinta-feira você pode esperar um podcast muito divertido e com convidados especiais. </p>
                <button><a href="https://open.spotify.com/show/17bkR8GX6FmyKYvhQv4nOi">Ver Episódios</a></button>
        </div>
        <div class="card">
            <img src="../IMG/podcast primo cast.jfif" alt="Faz Bem">
            <h2>Faz Bem</h2>
            <p>Presented by Lucas Zafra e Kaique Torres</p>
            <p>O PrimoCast é o podcast oficial d’O Primo Rico, um dos maiores canais sobre investimentos e finanças e empreendedorismo do mundo.</p>
                <button><a href="https://open.spotify.com/show/2gCj9YG9tjMexhS4pIlRHo">Ver Episódios</a></button>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card">
            <img src="../IMG/podcast nao inviabilize.jfif" alt="PodProgramar">
            <h2>PodProgramar</h2>
            <p>Presented by  Déia Freitas</p>
            <p>O canal Não Inviabilize é um espaço de contos e crônicas, um laboratório de histórias reais. Aqui você ouve as suas histórias misturadas às minhas</p>
                <button><a href="https://open.spotify.com/show/66XCLKbi33MubYTZX2G2jW">Ver Episódios</a></button>
        </div>
        <div class="card">
            <img src="../IMG/podcast o poder do foco.jpg" alt="Casos e Causos">
            <h2>Casos e Causos</h2>
            <p>Presented by Joel Jota</p>
            <p>Apresentado pelo empresário, escritor best-seller e mestre, Joel Jota entrevista grandes empresários e influenciadores para contar uma visão sobre negócios e vida de uma maneira leve e didática.</p>
                <button><a href="https://open.spotify.com/show/6wqBtC9OMq2mLvhDjZbqVM">Ver Episódios</a></button>
        </div>
        <div class="card">
            <img src="../IMG/podcast pisicologia na pratica.jfif" alt="Faz Bem">
            <h2>Faz Bem</h2>
            <p>Presented by Alana Anijar </p>
            <p>E aí, minha gente! Eu sou a Alana Anijar, psicologa, especialista em Terapia Cognitivo Comportamental é esse é meu podcast Psicologia na Prática.</p>
                <button><a href="https://open.spotify.com/show/6UpJb8VGuMKQT8ZKUPGfr0">Ver Episódios</a></button>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 PodRecomenda. Todos os direitos reservados.</p>
    </footer>

</body>

</html>