<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>PodRecomenda</title>
</head>

<body>
    <div class="hero">
        <div class="navbar">
            <div class="cadu">
                <a href="index.html" class="logo">
                    <img src="../IMG/Podcast_Logo_-_Feito_com_PosterMyWall-removebg-preview.png" alt="">
                </a>
            </div>
            <a href="index2.html">Destaques</a>
            <a href="sair.php">Sair</a>
        </div>
        <div class="fraseimagem">
            <ul>
                <h1>"Cada episódio é uma nova oportunidade de aprender, crescer e se inspirar. O que você ouvir hoje
                    pode
                    transformar o seu amanhã."</h1>
                <p>-PodRecomenda-</p>
            </ul>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 PodRecomenda. Todos os direitos reservados.</p>
    </footer>

</body>

</html>