@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Madimi+One&family=Oswald:wght@200..700&family=Seymour+One&display=swap');

@import 'footer.css';

/* Resetando alguns estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo o estilo básico para o body */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(#99beeb, #090979, #020024, #050320);
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Centralizando o conteúdo */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Estilo das imagens */
.img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
}

/* Estilo do título */
h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo das descrições */
.descricao {
    
    margin-bottom: 40px;
}

.descricao p {
    font-size: 1.1em;
    color: #666;
}

/* Estilo para o texto em negrito */
strong {
    color: #555;
}

/* Adicionando um fundo sutil para o conteúdo */
.container > div {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 1.8em;
    }

    .descricao p {
        font-size: 1em;
    }
}


nav ul {
    
    justify-content: center;
    border-radius: 10px;
    border: none ;
    background-color: rgb(111, 108, 169);
    height: 50px;
    display: flex;
    margin-bottom: 15px;

}

nav a {
    
    color: rgb(249, 249, 249);
    text-decoration: none;
    /*tira linha baixo*/
    padding: 15px;
}

nav li a:hover {
    
    background-color: red;
}

.mais-informacoes {
    border: 1px solid gray;
    width: 260px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mais-informacoes-menu {
    border: 1px solid gray;
    display: none;
    width: 260px;
    /*preeencher o conteudo*/
    border: none;
}

.mais-informacoes-menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.mais-informacoes a {
    display: block;
    color: wheat;
}

.mais-informacoes:hover .mais-informacoes-menu {
    display: block;
}

.imagem {
    height: 400px;
    width: 400px;
    justify-content: center;
}

.titulo {
    position: relative;
    top: 310px;
    left: 27%;
    font-family: Seymour One;
    rotate: -3deg;
}

.footer {
    margin-top: 50px;
}